.greenRow {
  color: green;
}
.redRow {
  color: red;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table table {
  border: solid white;
}
.table tr {
  border: solid white;
}
.table td {
  border: solid white;
}
